<div class="row">
    <div class="col-3">
        <img src="{{pet.image}}" width="100%">
    </div>
    <div class="col-3">
        <h1>{{pet.name}}</h1>
        <p>Category: {{pet.category}}</p>
        <p>Sex: {{pet.sex}}</p>
        <p>Size: {{pet.size_kg}}kg</p>
    </div>
    <div class="col-6">
        <h1>Adopt</h1>
        <form [formGroup]="formGroupaa" (ngSubmit)="adoptPet()">
            <div>
                <label for="name">Name:</label> <br>
                <input size="50" type="text" name="name" placeholder="Enter your full name" formControlName="name">
            </div>
            <div>
                <label for="lastName">Last Name:</label> <br>
                <input size="50" type="text" name="contact" placeholder="Enter your contact info (email/phone)" formControlName="contact">
            </div>
            <br>
            <div class="offset-6">
                <button type="submit" class="btn btn-primary">Submit request</button>
            </div>
        </form>
    </div>
</div>
